$header-height: 65px;

nav {
  height: $header-height;
  box-shadow: 0px 3px 15px #00000017;
}

.header-container {
  height: $header-height;
}

.menu-bar {
  top: 8px;
}

.sidebar-list {
  overflow-y: auto;
  height: calc(100% - 65px);
}

.dropdown-toggle::after {
  display:none;
}

.drop-arrow {
  border-bottom: 7px solid #373737;
  margin-top: 2px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  height: 0;
  margin: 0 auto;
  width: 0;
}
