<nav class="bg-white w-100 ">
  <div class="menu-bar position-absolute z-index-1">
    <a *ngIf="collapsed" class="btn btn-link" (click)="sidebarOpened.emit()">
      <i class="fa fa-bars fa-2x color-mine-shaft"></i>
    </a>
  </div>
  <div class="header-container container mx-auto d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center ml-40 ml-md-20 ml-lg-0">
      <a class="cursor-pointer"><img src="assets/images/logo/gomaterials-logo.svg" alt="gomaterials logo"></a>
    </div>
    <div class="d-flex align-items-center font-19">
      <a class="cursor-pointer mr-20"><i class="fa fa-bell text-primary fa-1x"></i></a>
      <div ngbDropdown class="d-inline-block">
        <i class="fa fa-user text-primary" ngbDropdownToggle></i>
        <div ngbDropdownMenu>
          <div class="drop-arrow"></div>
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <hr class="dropdown-divider" />
          <button class="dropdown-item">Something else is here</button>
        </div>
      </div>
    </div>
  </div>
</nav>
