<nav class="bg-white">
  <div class="menu-bar position-absolute z-index-1">
    <a *ngIf="collapsed" class="btn btn-link" (click)="sidebarOpened.emit()">
      <i class="fa fa-bars fa-2x color-mine-shaft"></i>
    </a>
  </div>
  <div class="header-container container mx-auto d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <a class="cursor-pointer"><img src="assets/images/logo/gomaterials-logo.svg" alt="gomaterials logo"></a>
    </div>
    <div class="d-flex align-items-center font-19">
      <a class="cursor-pointer mr-20"><i class="fa fa-bell text-primary fa-1x"></i></a>
      <a><i class="fa fa-user text-primary"></i></a>
    </div>
  </div>
</nav>
