@for $i from 5 through 60 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .width-pro-#{$i} {
    width: percentage($i / 100);
  }
}

@for $i from 1 through 50 {
  .btl-radius-#{$i} {
    border-top-left-radius: #{$i}px;
  }
  .btr-radius-#{$i} {
    border-top-right-radius: #{$i}px;
  }
  .bbl-radius-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }
  .bbr-radius-#{$i} {
    border-bottom-right-radius: #{$i}px;
  }
}

@for $i from 5 through 50 {
  .line-height-#{$i} {
    line-height: #{$i}px;
  }
}

.font-weight-medium {
  font-weight: 600;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: bold;
}

h6 {
  line-height: 24px;
}

p {
  line-height: 22px;
}

.underline {
  text-decoration: underline !important;
}
