.cursor-pointer {
  cursor: pointer;
}

.z-index-1 {
  z-index: 99;
}

.z-index-2 {
  z-index: 199;
}

.flex-1 {
  flex: 1;
}

.border-radius {
  &-3 {
    border-radius: 3px;
  }
  &-4 {
    border-radius: 4px;
  }
  &-6 {
    border-radius: 6px;
  }
}

.shadow {
  &-1 {
    box-shadow: 0 2px 8px 0 rgba(224,229,238,0.3);
  }
  &-2 {
    box-shadow: 0 2px 8px 0 rgba(224,229,238,0.9);
  }
  &-3 {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  }
  &-4 {
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.08);
  }
}

.border-radius {
  &-2 {
    border-radius: 2px;
  }
  &-3 {
    border-radius: 3px;
  }
  &-4 {
    border-radius: 4px;
  }
}

.pretty-scroll {
  @include pretty-scroll;
}

@for $i from 1 through 100 {
  .width-pro-#{$i} {
    width: percentage($i / 100);
  }
}

@for $i from 1 through 100 {
  .width-percent-#{$i} {
    @include flex(width, percentage($i / 100));
  }
}

@for $i from 1 through 50 {
  .btl-radius-#{$i} {
    border-top-left-radius: #{$i}px;
  }
  .btr-radius-#{$i} {
    border-top-right-radius: #{$i}px;
  }
  .bbl-radius-#{$i} {
    border-bottom-left-radius: #{$i}px;
  }
  .bbr-radius-#{$i} {
    border-bottom-right-radius: #{$i}px;
  }
}

.container {
}
