@import "../../../assets/theme";
$border-radius: 10px;

.user-panel {
  height: 700px;
}
.users-table-wrapper {
  border-radius: 16px;
  border: 1px solid #C2C2C2;
}

.search-box {
  border-radius: 15px;
  width: 100%;
  border: 1px solid #C2C2C2;
  height: 30px;
  padding: 10px 10px 10px 40px;
  font-family: Spartan;
  font-size: 12px;
}

.search-box:focus {
  outline: none;
}

.search-icon {
  left: 20px;
  top: 5px;
  color: #C2C2C2;
  font-size: 11px;
}

.fake-container {
  flex: 1 1 1px;
  font-size: 10px;
  font-weight: bold;
  line-height: 26px;
}

::placeholder {
  color: #C2C2C2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Spartan;
  font-size: 10px;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 33.45px;
  margin-top: 17.45px;
  font-size: 11px;
  line-height: 13px;
  background: none;
  font: normal normal bold 11px/13px Spartan
}

.breadcrumb-symbol {
  margin-left: 4%;
  margin-right: 4%;
}

.user-table {
  margin-top: 30px;
}

.bordered {
  border: 1px solid #F2F2F2;
  border-radius: $border-radius $border-radius 0px 0px;
  -moz-border-radius: $border-radius $border-radius 0px 0px;
  -webkit-border-radius: $border-radius $border-radius 0px 0px;
  border-spacing: 0;
  margin-top: 30px;
  border-collapse: separate;
}
.bordered th:first-child {
  border-radius: $border-radius 0 0 0;
  -moz-border-radius: $border-radius 0 0 0;
  -webkit-border-radius: $border-radius 0 0 0;
}

.bordered th:last-child {
  border-radius: 0 $border-radius 0 0;
  -moz-border-radius: 0 $border-radius 0 0;
  -webkit-border-radius: 0 $border-radius 0 0;
}

.odd {
  background-color: #00BA7011;
}

.odd:hover {
  background-color: #00BA7030;
  border-left: 2px solid #00BA70;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.even {
  background-color: $white;
}

.even:hover {
  background-color: #00BA7030;
  border-left: 2px solid #00BA70;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-div {
  width: 30%;
}
