<div class="d-flex flex-column h-100">
  <div class="breadcrumb">
      <span >User Management</span> <span>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;</span> <span>All Users</span>
  </div>

  <div class="users-table-wrapper py-25 px-35 flex-grow-1 d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center">
      <span>All Users</span>
      <div class="position-relative">
        <input type="text" class="search-box" placeholder="Search Items">
        <span class="position-absolute search-icon"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <div class="mt-20 pretty-scroll flex-grow-1 fake-container">
      <div *ngFor="let item of fakeData; let i = index">{{ item }}</div>
    </div>
  </div>
</div>
