@import "assets/theme";
@import "~bootstrap";

@import "assets/theme/imports";

@font-face {
  font-family: Spartan;
  src: local("Spartan"), url(./assets/fonts/Spartan/Spartan-VariableFont_wght.ttf) format("truetype");
}

body {
  font-family: Spartan;
}
